.feedback-mechanism {

  padding: 2rem;
  border: 1px solid #dedede;

  &__heading {
    display: inline-block;
    margin-top: 0;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px dotted #FFCC00;
  }

  &__helper-text {
    display: block;
  }

  &__legend {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__label {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__comment-field {
    resize: none;
    width: 70%;
    padding: 0.5rem;
    border: 2px solid #888;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &__submit-button {
    text-decoration: none;
    background-color: #134571;
    font-weight: 700;
    border: 0;
    color: #fff;
    padding: 1em 1.3em;
    margin-top: 1em;
  }
}

.feedback-message {

  padding: 2rem;

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  a, a:visited, a:hover a:active {
    color: black;
  }

  &--failure {
    background-color: #d4351c;
    color: #fff;
  }
  
  &--success {
    background-color: #c2f4a6;
  }
}
