<aside class="feedback-mechanism">
    <h2 class="feedback-mechanism__heading">{{ content.feedback_mechanism_heading }}</h2>

    <form action="{{ url_for('process_feedback') }}">
        <fieldset>
            <legend class="feedback-mechanism__legend">{{ content.ratings_legend }}</legend>
            {% for item in form.ratings %}
                <div class="feedback-mechanism__input-container">
                    {{ item }}
                    {{ item.label }}
                </div>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend class="feedback-mechanism__legend">{{ content.comment_legend }}</legend>
            <label class="feedback-mechanism__label" for="comment">
                {{ form.comment.label.text }}
            </label>
            <span class="feedback-mechanism__helper-text"
                  id="comment-helper-text">{{ content.comment_field_helper_text }}</span>
            {{ form.comment }}
        </fieldset>
        <input type="hidden" name="originating_page_url" value="{{ request.url }}">
        <input class="feedback-mechanism__submit-button" type="submit" value="{{ content.submit_button_text }}">
    </form>
</aside>
