{% extends 'layout.html' %}

{% block content %}

    <div class="container">


        {% if submission == None %}

            {% include 'includes/server_rendered_feedback_component.html' %}

        {% endif %}

        {% if submission == 'success' %}

            {% include 'includes/server_rendered_success_message.html' %}

        {% endif %}

        {% if submission == 'failure' %}

            {% include 'includes/server_rendered_failure_message.html' %}

        {% endif %}

    </div>
{% endblock %}
