{% extends 'layout.html' %}

{% block content %}

    {% if submission == None %}

        <h2>{{ content.feedback_mechanism_heading }}</h2>

        <form action="{{ url_for('process_feedback') }}">
            <fieldset>
                <legend>{{ content.ratings_legend }}</legend>
                {% for item in form.ratings %}
                    <label class="radio">
                        {{ item }}
                        {{ item.label }}
                    </label>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>{{ content.comment_legend }}</legend>
                {{ form.comment.label }}
                <span id="comment-helper-text">{{ content.comment_field_helper_text }}</span>
                {{ form.comment }}
            </fieldset>
            <input type="hidden" name="originating_page_url" value="{{ request.url }}">
            <input type="submit" value="{{ content.submit_button_text }}">
        </form>

    {% endif %}

    {% if submission == 'success' %}

        <div id="feedback-mechanism-processed-message">
            <h2>{{ content.feedback_mechanism_success_message_heading }}</h2>
            <p>{{ content.feedback_mechanism_success_message_text }}</p>
        </div>

    {% endif %}

    {% if submission == 'failure' %}

        <div id="feedback-mechanism-processed-message">
            <h2>{{ content.feedback_mechanism_failure_message_heading }}</h2>
            <p>{{ content.feedback_mechanism_failure_message_text }}</p>
        </div>

    {% endif %}

{% endblock %}
